<div class="container">
    <br />
    <!-- Importante indicar el path donde se encuentra el metodo POST -->
    <form action="/addProduct" method="POST">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" class="form-control" id="username" name="name" placeholder="name" >
        </div>
        <div class="form-group">
            <label for="price">phone Number:</label>
            <input type="number" class="form-control" id="price" name= "price" placeholder="price" >
        </div>
        <div class="form-group">
            <label for="discount">discount:</label>
            <input type="number" class="form-control" id="discount" name="discount" placeholder="discount">
        </div>
        <div class="form-group">
            <label for="quantity">quantity:</label>
            <input type="number" class="form-control" id="quantity" name="quantity" placeholder="quantity">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
        <a href="/" class="btn btn-danger">cansal</a>
    </form>
</div>
  